<div class="navbar-wagon">

  <div class="hidden-xs hidden-sm">


    <ul>

      <li class="navbar-wagon-item navbar-wagon-link">
        <a routerLink=""> <span></span>
          <i class="fa fa-american-sign-language-interpreting"> </i>
          Haim </a>
      </li>
      <li class="navbar-wagon-item ">
        <a routerLink="" class="">Home Page</a>
      </li>
      <li class="navbar-wagon-item ">
        <a routerLink="" class="">Products</a>
      </li>
      <li class="navbar-wagon-item ">
        <a>Contracts</a>
      </li>
      <li routerLink="/dashboard" class="navbar-wagon-item ">
        <a>Your Dashboard</a>
      </li>
      <li routerLink="/aboutUs" class="navbar-wagon-item ">
        <a>About Us</a>
      </li>
    </ul>


  </div>

  <div class="right hidden-xs hidden-sm">

    <a [routerLink]="['/userCenter','login']" class="navbar-wagon-item "><span></span> <i class="fab fa-500px"></i>Log-In</a>
    <a [routerLink]="['/userCenter','register']" class="navbar-wagon-item ">Register</a>


  </div>


</div>

