<div class="navbar-wagon">

  <div class="hidden-xs hidden-sm">


    <ul>

      <li class="navbar-wagon-item navbar-wagon-link">
        <a routerLink=""> <span></span>
          <i class="fa fa-american-sign-language-interpreting"> </i>
          Haim </a>
      </li>
      <li class="navbar-wagon-item ">
        <a routerLink="" class="">Home Page</a>
      </li>
      <li *ngIf="userAuthorized" routerLink="/dashboard" class="navbar-wagon-item ">
        <a> <i class="fa fa-chart-line"></i> Your Dashboard</a>
      </li>
      <li routerLink="/aboutUs" class="navbar-wagon-item ">
        <a>About Us</a>
      </li>
    </ul>


  </div>

  <div class="right hidden-xs hidden-sm">


    <a *ngIf="!userAuthorized" [routerLink]="['/userCenter','login']" class="navbar-wagon-item "> <i
      class="fa fa-user"></i> Log-In</a>
    <a *ngIf="!userAuthorized" [routerLink]="['/userCenter','register']" class="navbar-wagon-item "> <i
      class="fa fa-pencil-alt"></i>Register</a>

    <a routerLink="" *ngIf="userAuthorized" (click)="logOut()" class="inact "> <i
      class="fa fa-user"></i> Log-Out</a>
    <a routerLink="" *ngIf="userAuthorized" class="inact"> <i
      class="fa fa-pencil-alt"></i>Welcome</a>


  </div>


</div>

