<div class="navbar-wagon">

  <div class="hidden-xs hidden-sm">


    <ul>

      <li class="navbar-wagon-item navbar-wagon-link">
        <a routerLink=""> <span></span> <i
          class="fa fa-american-sign-language-interpreting"> </i>
          Haim </a>
      </li>
      <li class="navbar-wagon-item ">
        <a routerLink="" class="">Home Page</a>
      </li>
      <li class="navbar-wagon-item ">
        <a routerLink="" class="">Products</a>
      </li>
      <li class="navbar-wagon-item ">
        <a>Contracts</a>
      </li>
      <li class="navbar-wagon-item ">
        <a>Your Contracts</a>
      </li>
    </ul>


  </div>

  <div class="right hidden-xs hidden-sm">

    <a routerLink="/logIn" class="navbar-wagon-item ">Log-In</a>
    <a href="#" class="navbar-wagon-item ">Register</a>


  </div>


</div>

