<section id="banner">
  <h1>The Overheads</h1>

</section>

<!-- One -->
<section id="one" class="wrapper">
  <div class="inner">
    <div class="flex flex-3">
      <article>
        <header>
          <h3>About The team<br/></h3>
        </header>
        <p>The group consists of 6 members who are in their third year of computer science studies at Bar-Ilan
          University and have been working in software development for many years</p>
      </article>
      <article>
        <header>
          <h3>Taem Skills</h3>
        </header>
        <p>The group has a unique set of skills including experience in setting up servers, data security, web and
          mobile application development, machine learning, and data management</p>
      </article>
      <article>
        <header>
          <h3>Team Achievements</h3>
        </header>
        <p>The group won second place last year in Hackathon arraged by the Cyber ​​Center in Bar-Ilan University On the
          subject of cyber and machine learning, when the group
          developed a unique algorithm that could predict whether Twitter tweeting was spam</p>
      </article>
    </div>
  </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style1 special">
  <div class="inner">
    <header>
      <h2>The Team</h2>
    </header>
    <div class="flex flex-4">
      <div class="box person">
        <div class="image round">
          <img src="../../../assets/or.png" alt="Person 1"/>
        </div>
        <h3>Or Zipory</h3>
        <p>big gay</p>
      </div>
      <div class="box person">
        <div class="image round">
          <img src="../../../assets/amos.jpg" alt="Person 2"/>
        </div>
        <h3>Amos maimon</h3>
        <p>React Team leader</p>
      </div>
      <div class="box person">
        <div class="image round">
          <img src="../../../assets/alon.png" alt="Person 3"/>
        </div>
        <h3>Alon</h3>
        <p>Google Owner</p>
      </div>
      <div class="box person">
        <div class="image round">
          <img src="../../../assets/daniel.jpg" alt="Person 4"/>
        </div>
        <h3>Daniel Hermon</h3>
        <p>Very Big Gay</p>
      </div>
      <div class="box person">
        <div class="image round">
          <img src="../../../assets/uria.png" alt="Person 5"/>
        </div>
        <h3>Uria</h3>
        <p>Shisha Master</p>
      </div>
      <div class="box person">
        <div class="image round">
          <img src="../../../assets/haim.jpg" alt="Person 6"/>
        </div>
        <h3>Haim Rubinstein</h3>
        <p>small agy</p>
      </div>
    </div>
  </div>
</section>

<footer id="footer">
  <div class="inner">
    <div class="flex">
    </div>
  </div>
</footer>

