<ng-template #template>
  <app-contract-modal [contractInfo]="contractForModal"></app-contract-modal>
</ng-template>
<h1>My Contracts</h1>

<div id="container">

  <input id="tab-1" type="radio" name="tab-group" checked="checked"/>
  <label for="tab-1">Signed Contracts</label>

  <input id="tab-2" type="radio" name="tab-group"/>
  <label for="tab-2">UnSigned Contracts</label>

  <div id="content">

    <div id="content-1">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Contract Name</th>
          <th scope="col">Sellers</th>
          <th scope="col">Buyers</th>
        </tr>
        </thead>
        <tbody>
        <tr class="point" (click)="openModal(template,i,'signed')"
            *ngFor="let contract of signedContract;let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{contract.contractName}}</td>
          <td>{{contract.buyers[0]}}</td>
          <td>{{contract.sellers[0]}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div id="content-2">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Contract Name</th>
          <th scope="col">Sellers</th>
          <th scope="col">Buyers</th>
        </tr>
        </thead>
        <tbody>
        <tr
          class="point" (click)="openModal(template,i,'unsigned')"
          *ngFor="let contract of unSignedContract;let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{contract.contractName}}</td>
          <td>{{contract.buyers[0]}}</td>
          <td>{{contract.sellers[0]}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
